* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: url(../img/fondo.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh; }
  body header nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style: none; }
    body header nav ul li {
      margin: 40px 5px 5px 5px; }
      body header nav ul li a i {
        color: #d8d8d8;
        font-size: 45px;
        padding: 35px 23px 23px 23px; }
  body main {
    display: flex;
    justify-content: center;
    height: calc(100vh - 145px);
    width: 100%; }
    body main #mainVh {
      display: flex;
      background-color: #006bc7bf;
      width: 100%;
      min-height: 50vh;
      max-height: 80vh;
      max-width: 1300px;
      border-radius: 20px;
      margin-left: 10vh;
      margin-right: 10vh; }
      body main #mainVh .infoPersonal {
        width: 65%;
        padding: 5px; }
        body main #mainVh .infoPersonal h1 {
          font-size: 2.7em;
          text-align: center;
          color: #ffffff; }
        body main #mainVh .infoPersonal p {
          font-size: 1.4em;
          text-align: center;
          color: #ffffffb7; }
      body main #mainVh .imgPersonal {
        padding: 5px; }
        body main #mainVh .imgPersonal img {
          width: 100%;
          height: 80%;
          min-width: 300px;
          max-width: 380px; }
      body main #mainVh .projects {
        width: 100%; }
        body main #mainVh .projects h1 {
          text-align: center;
          padding: 15px 0px; }
        body main #mainVh .projects .boxProjects {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          padding: 0px 10px; }
          body main #mainVh .projects .boxProjects .boxEspacio {
            padding: 5px 5px; }
            body main #mainVh .projects .boxProjects .boxEspacio a {
              text-decoration: none; }
              body main #mainVh .projects .boxProjects .boxEspacio a .itemsProjects {
                max-width: 220px;
                background-color: #0a3b66f5;
                border: 100px;
                border-radius: 20px; }
                body main #mainVh .projects .boxProjects .boxEspacio a .itemsProjects img {
                  padding: 10px;
                  max-width: 220px; }
                body main #mainVh .projects .boxProjects .boxEspacio a .itemsProjects p {
                  color: aliceblue;
                  padding: 15px 5px; }
